# ============================================================================
# ProxyShard User API — OpenAPI 3.0.3.
#
# ИСТОЧНИК ПРАВДЫ по публичному API. Раньше спека жила только в GitBook
# (docs.proxyshard.com/proxyshard-api/*), из-за чего расходилась с кодом
# незаметно: ответы ручек уже отдавали message и proxy_password, а спека
# продолжала обещать старую форму.
#
# Правила:
#   * добавил/изменил ручку в services/user-api — правь этот файл в ТОМ ЖЕ
#     коммите;
#   * теги = страницы в GitBook, менять их имена без нужды не стоит;
#   * после мержа залить файл в GitBook (OpenAPI-спека проекта), иначе
#     клиенты снова увидят устаревшее.
#
# Проверка перед заливкой:
#   python -m openapi_spec_validator services/user-api/openapi.yaml
# ============================================================================
openapi: 3.0.3
info:
  title: ProxyShard User API Billing
  version: 1.1.0
servers:
  - url: https://user-api.proxyshard.com
security:
  - bearerAuth: []
tags:
  - name: Datacenter & ISP Proxies
    description: Operations for datacenter and ISP proxies
  - name: General
    description: General operations (profile, orders, reference data)
  - name: Residential Proxies
    description: Operations for residential proxies
  - name: Service
    description: Health probes (no authentication)
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    ActiveProxyItem:
      type: object
      properties:
        ip:
          type: string
        username:
          type: string
        password:
          type: string
        http_port:
          type: integer
        socks_port:
          type: integer
        until:
          type: string
          description: ISO8601/string date
        status:
          type: string
        signature:
          type: string
          nullable: true
          description: p0f signature assigned to the IP, null when not set
      required:
        - ip
        - username
        - password
        - http_port
        - socks_port
        - until
        - status
    ApiError:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
      required:
        - success
        - message
    AddonLine:
      type: object
      description: A single add-on line stored on an order
      properties:
        addon_key:
          type: string
        catalog_id:
          type: integer
        qty:
          type: integer
          description: Active units for the current period
        price_per_unit:
          type: integer
          description: Price per unit in cents at time of purchase
        pending:
          description: Scheduled change to apply on next renewal (null if none)
          nullable: true
          type: object
          properties:
            action:
              type: string
              enum:
                - cancel
                - downgrade
            next_qty:
              type: integer
              description: Target qty after downgrade (only present for downgrade action)
    PurchaseRequestDcIsp:
      type: object
      description: Purchase for Datacenter/ISP — the location field is required.
      properties:
        product:
          type: string
          enum:
            - Datacenter Proxy
            - ISP Proxy
        location:
          type: string
        cycle:
          type: string
        quantity:
          type: integer
          minimum: 1
          default: 1
        promo_code:
          type: string
          nullable: true
        auto_renewal:
          type: boolean
          default: false
        addons:
          type: array
          nullable: true
          description: Add-ons attached at purchase time (e.g. p0f_slots for DC/ISP)
          items:
            $ref: '#/components/schemas/CreateOrderAddonRequest'
      required:
        - product
        - location
        - cycle
    PurchaseRequestResidentialStandard:
      type: object
      description: Purchase for Standart Residential Proxy — location is not required; the cycle is fixed (lifetime).
      properties:
        product:
          type: string
          enum:
            - Standart Residential Proxy
        quantity:
          type: integer
          minimum: 1
          default: 1
        promo_code:
          type: string
          nullable: true
        addons:
          type: array
          nullable: true
          description: Add-ons attached at purchase time (e.g. p0f_slots for DC/ISP)
          items:
            $ref: '#/components/schemas/CreateOrderAddonRequest'
      required:
        - product
    PurchaseRequestResidentialPremium:
      type: object
      description: Purchase for Premium Residential Proxy — location is not required; the cycle is fixed (lifetime).
      properties:
        product:
          type: string
          enum:
            - Premium Residential Proxy
        quantity:
          type: integer
          minimum: 1
          default: 1
        promo_code:
          type: string
          nullable: true
        addons:
          type: array
          nullable: true
          description: Add-ons attached at purchase time (e.g. p0f_slots for DC/ISP)
          items:
            $ref: '#/components/schemas/CreateOrderAddonRequest'
      required:
        - product
    PurchaseRequestResidentialUnmetered:
      type: object
      description: Purchase for Unmetered Residential proxy — supports auto-renewal.
      properties:
        product:
          type: string
          enum:
            - Unmetered Residential proxy
        cycle:
          type: string
        promo_code:
          type: string
          nullable: true
        auto_renewal:
          type: boolean
          default: false
        addons:
          type: array
          nullable: true
          description: Add-ons attached at purchase time (e.g. p0f_slots for DC/ISP)
          items:
            $ref: '#/components/schemas/CreateOrderAddonRequest'
      required:
        - product
        - cycle
    PurchaseRequest:
      type: object
      properties:
        product:
          type: string
        location:
          type: string
          nullable: true
        cycle:
          type: string
        quantity:
          type: integer
          minimum: 1
          default: 1
        promo_code:
          type: string
          nullable: true
        auto_renewal:
          type: boolean
          default: false
        addons:
          type: array
          nullable: true
          description: Add-ons attached at purchase time (e.g. p0f_slots for DC/ISP)
          items:
            $ref: '#/components/schemas/CreateOrderAddonRequest'
      required:
        - product
        - cycle
    PurchaseResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        order_id:
          type: integer
      required:
        - success
        - message
        - order_id
    ProductWithCycles:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true
        location:
          type: string
          nullable: true
        cycles:
          type: array
          items:
            type: string
      required:
        - name
        - cycles
    AvailableCountResponse:
      type: object
      properties:
        country:
          type: string
        product:
          type: string
        amount:
          type: integer
      required:
        - country
        - product
        - amount
    ApiMeResponse:
      type: object
      properties:
        email:
          type: string
        active_orders:
          type: integer
        wallet_balance:
          type: integer
          description: in cents
      required:
        - email
        - active_orders
        - wallet_balance
    ApiSuccess:
      type: object
      properties:
        success:
          type: boolean
      required:
        - success
    AvailableCountRequest:
      type: object
      properties:
        country:
          type: string
        product:
          type: string
      required:
        - country
        - product
    AddBandwidthRequest:
      type: object
      properties:
        amount:
          type: integer
          description: Amount in GB
        promo_code:
          type: string
          nullable: true
      required:
        - amount
    GetSubUsersRequest:
      type: object
      properties:
        offset:
          type: integer
          description: Offset (default 0)
        limit:
          type: integer
          description: Page size (default 20)
    EditSubUserPayload:
      type: object
      properties:
        name:
          type: string
      required:
        - name
    CreateSubUserPayload:
      type: object
      properties:
        proxy_type:
          type: string
        name:
          type: string
        data:
          type: integer
          description: Amount in GB
      required:
        - proxy_type
        - name
        - data
    ChangeSubUserPasswordPayload:
      type: object
      properties:
        proxy_type:
          type: string
      required:
        - proxy_type
    ModifyTrafficPayload:
      type: object
      properties:
        proxy_type:
          type: string
        data:
          type: integer
          description: Amount in GB
      required:
        - proxy_type
        - data
    Country:
      type: object
      properties:
        code:
          type: string
          maxLength: 10
          description: ISO country code
        name:
          type: string
          maxLength: 255
          description: Country name
      required:
        - code
        - name
    Region:
      type: object
      properties:
        code:
          type: string
          maxLength: 10
          description: Region code (state/province code)
        name:
          type: string
          maxLength: 255
          description: Region name (state/province name)
        country:
          $ref: '#/components/schemas/Country'
      required:
        - code
        - name
        - country
    City:
      type: object
      properties:
        code:
          type: string
          maxLength: 50
          description: City code (usually slug format)
        name:
          type: string
          maxLength: 255
          description: City name
        country:
          $ref: '#/components/schemas/Country'
        region:
          type: object
          nullable: true
          properties:
            code:
              type: string
              maxLength: 10
              description: Region code
            name:
              type: string
              maxLength: 255
              description: Region name
          required:
            - code
            - name
      required:
        - code
        - name
        - country
    PagedCountriesResponse:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/Country'
      required:
        - count
        - results
    PagedRegionsResponse:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/Region'
      required:
        - count
        - results
    PagedCitiesResponse:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/City'
      required:
        - count
        - results
    Isp:
      type: object
      properties:
        code:
          type: string
          description: ISP code (slug)
        name:
          type: string
          description: ISP name
        country:
          $ref: '#/components/schemas/Country'
        region:
          type: object
          nullable: true
          properties:
            code:
              type: string
              description: Region code
            name:
              type: string
              description: Region name
          required:
            - code
            - name
      required:
        - code
        - name
        - country
    PagedIspsResponse:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/Isp'
      required:
        - count
        - results
    CreateOrderAddonRequest:
      type: object
      properties:
        addon_key:
          type: string
          example: p0f_slots
        qty:
          type: integer
          minimum: 1
      required:
        - addon_key
        - qty
paths:
  /user/api/proxies/active:
    get:
      tags:
        - Datacenter & ISP Proxies
      summary: Get active proxies by order
      parameters:
        - in: query
          name: order_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Proxy list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActiveProxyItem'
                  order_tag:
                    type: string
                    nullable: true
                required:
                  - success
                  - data
        '403':
          description: Method is unavailable for this order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/{order_id}/del-np/set:
    post:
      tags:
        - Datacenter & ISP Proxies
      summary: Set del-np (per-IP deletion)
      description: |
        Only for Datacenter & ISP proxies.
        After updating, the order `quantity` and `price_paid` are recalculated.
      parameters:
        - in: path
          name: order_id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      ip:
                        type: string
                      value:
                        type: boolean
                    required:
                      - ip
                      - value
              required:
                - items
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: Validation error / not DC-ISP / keep=0
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/{order_id}/signature/set:
    post:
      tags:
        - Datacenter & ISP Proxies
      summary: Set IP OS-fingerprint signature
      description: "Sets the OS-fingerprint signature for one or more proxy IPs. \ 

        Requires the `p0f_slots` add-on to be active on the order.


        Each IP that receives a signature permanently occupies one slot.

        Changing the OS value on an IP that already has a signature does not consume an extra slot.


        **Available signature values:**


        | Value | OS |

        |-------|----|

        | `ios` | iOS |

        | `macos` | macOS |

        | `android` | Android |

        | `linux` | Linux |

        | `win10` | Windows 10 |

        | `win11` | Windows 11 |\n"
      parameters:
        - in: path
          name: order_id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - items
              properties:
                items:
                  type: array
                  items:
                    type: object
                    required:
                      - ip
                      - signature
                    properties:
                      ip:
                        type: string
                      signature:
                        type: string
                        description: OS identifier to spoof.
                        enum:
                          - ios
                          - macos
                          - android
                          - linux
                          - win10
                          - win11
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  updated:
                    type: integer
                    description: Number of IPs updated
        '400':
          description: Validation error or not enough slots
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/{order_id}/addons/calculate:
    get:
      tags:
        - Datacenter & ISP Proxies
      summary: Calculate add-on price
      description: |
        Returns the price preview for purchasing additional units of a given add-on for an active datacenter/ISP order.   Currently the only supported add-on key is `p0f_slots` — OS-fingerprint signature slots.
      parameters:
        - in: path
          name: order_id
          required: true
          description: Order ID
          schema:
            type: integer
        - in: query
          name: addon_key
          required: true
          description: Add-on identifier (e.g. `p0f_slots`)
          schema:
            type: string
        - in: query
          name: add_qty
          required: true
          description: Number of units to add
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Price preview
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  addon_key:
                    type: string
                  catalog_id:
                    type: integer
                  price_per_unit:
                    type: integer
                    description: Price per unit in cents
                  current_qty:
                    type: integer
                  add_qty:
                    type: integer
                  new_qty:
                    type: integer
                  add_total:
                    type: integer
                    description: Total charge for this purchase in cents
  /user/api/orders/{order_id}/addons/purchase:
    post:
      tags:
        - Datacenter & ISP Proxies
      summary: Purchase an add-on
      description: |
        Immediately charges the wallet and adds the requested number of add-on units to the order.  The order must be **active**.   The only currently available add-on key is `p0f_slots`.
      parameters:
        - in: path
          name: order_id
          required: true
          description: Order ID
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - addon_key
                - add_qty
              properties:
                addon_key:
                  type: string
                add_qty:
                  type: integer
                  minimum: 1
      responses:
        '200':
          description: Add-on purchased
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  addons_price_paid:
                    type: integer
                    description: Cumulative add-on cost for this order (cents)
                  addons:
                    type: array
                    description: Updated add-on list stored on the order
                    items:
                      $ref: '#/components/schemas/AddonLine'
  /user/api/orders/{order_id}/addons/schedule:
    post:
      tags:
        - Datacenter & ISP Proxies
      summary: Schedule add-on downgrade for next renewal
      description: |
        Schedules a **downgrade** of an add-on to take effect on the next renewal cycle.  The new quantity must be lower than the current one.  The change is stored as a `pending` marker and applied automatically when the order renews.
      parameters:
        - in: path
          name: order_id
          required: true
          description: Order ID
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - addon_key
                - action
                - next_qty
              properties:
                addon_key:
                  type: string
                action:
                  type: string
                  enum:
                    - downgrade
                next_qty:
                  type: integer
                  description: Target quantity after renewal. Must be less than current qty.
                  minimum: 1
      responses:
        '200':
          description: Downgrade scheduled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  addons:
                    type: array
                    items:
                      $ref: '#/components/schemas/AddonLine'
  /user/api/orders/{order_id}/addons/schedule/cancel:
    post:
      tags:
        - Datacenter & ISP Proxies
      summary: Cancel a scheduled downgrade
      description: Removes the pending downgrade that was set via the schedule endpoint.
      parameters:
        - in: path
          name: order_id
          required: true
          description: Order ID
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - addon_key
              properties:
                addon_key:
                  type: string
      responses:
        '200':
          description: Pending downgrade cleared
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  addons:
                    type: array
                    items:
                      $ref: '#/components/schemas/AddonLine'
  /user/api/orders/purchase:
    post:
      tags:
        - General
      summary: Create and pay for an order
      description: |
        Purchase by product name, location, and cycle.
        For Datacenter/ISP, location is required.
        For Standart Residential Proxy, location is not required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/PurchaseRequestDcIsp'
                - $ref: '#/components/schemas/PurchaseRequestResidentialStandard'
                - $ref: '#/components/schemas/PurchaseRequestResidentialPremium'
                - $ref: '#/components/schemas/PurchaseRequestResidentialUnmetered'
                - $ref: '#/components/schemas/PurchaseRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseResponse'
        '400':
          description: Validation/balance error/insufficient stock
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/calculate:
    get:
      tags:
        - General
      summary: Calculate order price
      description: |
        Calculates price by product name, cycle name and quantity.
        Uses the same validation rules as purchase (allowed billing cycles, promo rules).
      parameters:
        - in: query
          name: product
          required: true
          schema:
            type: string
        - in: query
          name: location
          required: false
          schema:
            type: string
            nullable: true
        - in: query
          name: cycle
          required: false
          schema:
            type: string
            nullable: true
        - in: query
          name: quantity
          required: false
          schema:
            type: integer
            nullable: true
        - in: query
          name: promo_code
          required: false
          schema:
            type: string
            nullable: true
        - in: query
          name: addons_json
          required: false
          description: URL-encoded JSON array of add-ons, e.g. [{"addon_key":"p0f_slots","qty":5}]
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  original_price:
                    type: integer
                  final_price:
                    type: integer
                  discount_percent:
                    type: integer
                  addons_price:
                    type: integer
                    description: Add-ons total, minor units
                  total_with_addons:
                    type: integer
                    description: final_price + addons_price
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/change-billing-cycle/{order_id}:
    post:
      tags:
        - General
      summary: Change the order billing cycle
      description: |
        Changes the billing cycle by cycle name. Only for Datacenter & ISP proxies.
        If the promo code is not available for the selected cycle, it will be automatically reset.
      parameters:
        - in: path
          name: order_id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cycle:
                  type: string
              required:
                - cycle
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  order_id:
                    type: integer
                  original_price:
                    type: integer
                  final_price:
                    type: integer
                  discount_percent:
                    type: integer
        '400':
          description: Invalid product or cycle
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Cycle is not available for this user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/edit-auto-renewal/{order_id}:
    post:
      tags:
        - General
      summary: Change order auto-renewal
      description: |
        Enable/disable auto-renewal. Only for Datacenter & ISP proxies.
      parameters:
        - in: path
          name: order_id
          required: true
          schema:
            type: integer
        - in: query
          name: auto_renewal
          required: true
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: Invalid product for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/proxies/products:
    get:
      tags:
        - General
      summary: Get products and their cycles
      description: Returns API products with the names of available cycles.
      responses:
        '200':
          description: Product list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductWithCycles'
                required:
                  - success
                  - products
  /user/api/proxies/available-count:
    get:
      tags:
        - General
      summary: Get the available number of proxies
      description: Returns the total available quantity for all products.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AvailableCountResponse'
  /user/api/me:
    get:
      tags:
        - General
      summary: User information
      responses:
        '200':
          description: Profile data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMeResponse'
  /user/api/orders:
    get:
      tags:
        - General
      summary: Order list
      parameters:
        - in: query
          name: status
          required: true
          description: active | on-hold | cancelled | all
          schema:
            type: string
        - in: query
          name: offset
          required: false
          description: Result offset (default 0)
          schema:
            type: integer
            minimum: 0
        - in: query
          name: limit
          required: false
          description: Page size (1..100, default 20)
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Order list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  orders:
                    type: array
                    items:
                      type: object
                      properties:
                        order_id:
                          type: integer
                        product_id:
                          type: integer
                        product_name:
                          type: string
                        cycle_id:
                          type: integer
                        cycle_name:
                          type: string
                        expires_at:
                          type: string
                          nullable: true
                          description: ISO8601 expiration time
                        auto_renewal:
                          type: boolean
                          nullable: true
                        tag:
                          type: string
                          nullable: true
                      required:
                        - order_id
                        - product_id
                        - product_name
                        - cycle_id
                        - cycle_name
                  count:
                    type: integer
                    description: Number of orders in the current result set
                  prev:
                    type: string
                    nullable: true
                    description: Previous page URI
                  next:
                    type: string
                    nullable: true
                    description: Next page URI
                required:
                  - success
                  - orders
  /user/api/orders/{id}:
    get:
      tags:
        - General
      summary: Get order information
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Order information
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  order:
                    type: object
                    properties:
                      order_id:
                        type: integer
                      product_name:
                        type: string
                      cycle_name:
                        type: string
                      quantity:
                        type: integer
                      price_paid:
                        type: integer
                        description: Base subscription price in cents
                      addons_price_paid:
                        type: integer
                        description: Total add-on cost in cents
                      addons:
                        type: array
                        description: Add-on lines attached to this order
                        items:
                          $ref: '#/components/schemas/AddonLine'
                      p0f_slots_available:
                        type: integer
                        description: Active p0f signature slots (from add-ons)
                      p0f_slots_used:
                        type: integer
                        description: Slots currently occupied by signed proxies
                      p0f_slots_next:
                        type: integer
                        description: Slots that will be active after next renewal
                      status:
                        type: string
                      created_at:
                        type: string
                        nullable: true
                      expires_at:
                        type: string
                        nullable: true
                      promo_code:
                        type: string
                        nullable: true
                      auto_renewal:
                        type: boolean
                        nullable: true
                      tag:
                        type: string
                        nullable: true
                required:
                  - success
                  - order
  /user/api/orders/{id}/renew:
    post:
      tags:
        - General
      summary: Renew order
      description: |
        Renewal is available only when order status is `on-hold`.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Order renewed successfully
                required:
                  - success
                  - message
        '400':
          description: Insufficient balance/validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/{id}/tag:
    post:
      tags:
        - General
      summary: Change order tag
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tag:
                  type: string
              required:
                - tag
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Order tag updated
                required:
                  - success
                  - message
  /user/api/orders/{id}/add-bandwidth:
    post:
      tags:
        - Residential Proxies
      summary: Purchase additional traffic (Residential)
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddBandwidthRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Order paid successfully
                required:
                  - success
                  - message
  /user/api/proxies/profile:
    get:
      tags:
        - Residential Proxies
      summary: Parent (account owner) traffic
      description: |
        Returns the parent account's own total and remaining data for the given proxy type, aggregated across the parent's orders. Unlike the sub-user endpoints, this reflects the data of the account owner, not a sub-user.
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: Proxy type (standart | premium)
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: integer
                    description: Total allocated data in bytes
                  data_remain:
                    type: integer
                    description: Remaining data in bytes
                  data_spent:
                    type: integer
                    description: Consumed data in bytes
                  proxy_password:
                    type: string
                    description: Parent account's proxy password
                required:
                  - success
                  - data
                  - data_remain
                  - data_spent
                  - proxy_password
        '400':
          description: User resident not set / invalid proxy type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/proxies/sub-users:
    get:
      tags:
        - Residential Proxies
      summary: Sub-user list
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: Proxy type (standart | premium)
          schema:
            type: string
        - in: query
          name: offset
          required: false
          schema:
            type: integer
        - in: query
          name: limit
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  count:
                    type: integer
                    description: Total sub-users before pagination
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        user_id:
                          type: string
                        first_name:
                          type: string
                        proxy_password:
                          type: string
                        data:
                          type: integer
                        data_spent:
                          type: integer
                        data_remain:
                          type: integer
                      required:
                        - user_id
                        - first_name
                        - proxy_password
                        - data
                        - data_spent
                        - data_remain
  /user/api/proxies/sub-user/{user_id}:
    get:
      tags:
        - Residential Proxies
      summary: Get sub-user by ID
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: proxy_type
          required: true
          description: Proxy type (standart | premium)
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        first_name:
                          type: string
                        proxy_password:
                          type: string
                        data:
                          type: integer
                        data_spent:
                          type: integer
                      required:
                        - first_name
                        - proxy_password
                        - data
                        - data_spent
    delete:
      tags:
        - Residential Proxies
      summary: Delete sub-user
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Sub user deleted successfully
                required:
                  - success
                  - message
    patch:
      tags:
        - Residential Proxies
      summary: Edit sub-user (name/package)
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: proxy_type
          required: true
          description: Proxy type (standart | premium)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditSubUserPayload'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Sub user edited successfully
                required:
                  - success
                  - message
  /user/api/proxies/sub-user:
    post:
      tags:
        - Residential Proxies
      summary: Create sub-user
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: Proxy type (standart | premium)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                data:
                  type: integer
              required:
                - name
                - data
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        user_id:
                          type: string
                        first_name:
                          type: string
                        proxy_password:
                          type: string
                        data:
                          type: integer
                        data_spent:
                          type: integer
                      required:
                        - user_id
                        - first_name
                        - proxy_password
                        - data
                        - data_spent
  /user/api/proxies/sub-user/{user_id}/data/add:
    post:
      tags:
        - Residential Proxies
      summary: Add traffic to sub-user
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: proxy_type
          required: true
          description: Proxy type (standart | premium)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: integer
                  description: Amount in GB
              required:
                - data
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Traffic added to sub user successfully
                required:
                  - success
                  - message
  /user/api/proxies/sub-user/{user_id}/data/subtract:
    post:
      tags:
        - Residential Proxies
      summary: Subtract traffic from sub-user
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: proxy_type
          required: true
          description: Proxy type (standart | premium)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: integer
                  description: Amount in GB
              required:
                - data
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Traffic subtracted from sub user successfully
                required:
                  - success
                  - message
  /user/api/proxies/sub-user/{user_id}/password:
    post:
      tags:
        - Residential Proxies
      summary: Change sub-user password
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: proxy_type
          required: true
          description: Proxy type (standart | premium)
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Sub user password changed successfully
                required:
                  - success
                  - message
  /user/api/proxies/countries:
    get:
      tags:
        - Residential Proxies
      summary: Country list
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: Proxy type (standart | premium)
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedCountriesResponse'
  /user/api/proxies/regions:
    get:
      tags:
        - Residential Proxies
      summary: Region list
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: Proxy type (standart | premium)
          schema:
            type: string
        - in: query
          name: country_code
          required: true
          description: ISO country code
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedRegionsResponse'
  /user/api/proxies/cities:
    get:
      tags:
        - Residential Proxies
      summary: City list
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: Proxy type (standart | premium)
          schema:
            type: string
        - in: query
          name: country_code
          required: true
          description: ISO country code
          schema:
            type: string
        - in: query
          name: region_code
          required: true
          description: Region code (state/province code)
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedCitiesResponse'
  /user/api/proxies/isps:
    get:
      tags:
        - Residential Proxies
      summary: List ISPs
      description: |
        Internet providers available inside a city — the fourth targeting level after country, region and city.
        Unlike the other location endpoints this one needs the full chain: `country_code`, `region_code` AND `city_code` are all required, because upstream ISPs are bound to a city.
        Premium package only: the ISP catalogue is not maintained for the standart and unlimited packages, and any other `proxy_type` is rejected with 400.
        ISPs are listed for major cities only, so an empty `results` with `count: 0` is a normal answer for a smaller city.
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: Must be `premium` — ISP targeting is premium-only
          schema:
            type: string
            enum:
              - premium
        - in: query
          name: country_code
          required: true
          description: ISO country code
          schema:
            type: string
        - in: query
          name: region_code
          required: true
          description: Region code (state/province code)
          schema:
            type: string
        - in: query
          name: city_code
          required: true
          description: City code from GET /user/api/proxies/cities
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedIspsResponse'
        '400':
          description: proxy_type is not `premium`, user resident is not set, or the user has no active order for the package
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                notPremium:
                  value:
                    success: false
                    message: ISP targeting is available for the premium package only
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /health:
    get:
      tags:
        - Service
      summary: Deep health check
      description: |
        Outside the /user/api/ prefix, so no API key is required.
      security: []
      responses:
        '200':
          description: Service is up
  /health/live:
    get:
      tags:
        - Service
      summary: Liveness probe
      description: |
        Outside the /user/api/ prefix, so no API key is required.
      security: []
      responses:
        '200':
          description: Service is up
