---
icon: island-tropical
---

# Results of our field tests

Initially, we added <mark style="color:purple;">**UDP**</mark> support to all our <mark style="color:purple;">Datacenter</mark> proxy locations and tested it through ClashX. We got the following results:

* Google - 15 accounts created in a row with no errors and no phone numbers.
* Discord - registration and server login, including servers with enhanced bot checks, were successful! Even on servers that usually block ISP proxies.
* Twitter - a 10-image captcha was accepted with errors, and re-verification passed without issues.
* Facebook/Instagram/FB ADS... - registration without problems or captcha.

For comparison, the same actions through ISP proxies without **UDP** ended in errors or required SMS verification.

And all of this on Datacenter proxies!

**Support is now available on all our products** :tada:
